@charset "UTF-8";
@font-face {
    font-family: "Huntsman";
    src: url("fonts/Huntsman");
}

$color: cornflowerblue;



body{
    margin: 0;
    padding: 0;
	min-height: 100vh;
display: grid;
grid-template-rows: auto 1fr min-content;
background: whitesmoke;
}

.container{
    max-width: 1160px;
    padding: 0 10px;
    width: 100%;
    margin: 0 auto;
}


// HEADER  
header{
    height: 64px;
    background: #fff;
    border-bottom: 1px solid lightgray;
}
.header_container{
   display: flex;
   align-items: center;
   margin-bottom: 28px;
}

.logo a img{
    width: 100px;
    height: 62px;
    padding-right: 32px;
   }

   #slogan span{
    font-family: "Huntsman", sans-serif;
    font-size: 22px;
    line-height: 50px;
       }

   




/* for menu   */
.nav_menu{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 23px;
    & #menu{
        & .btn{
            padding: 5px;
            background:  whitesmoke;
            border: none;
            padding: 10px;
            letter-spacing: 5px;
            font-size: 20px;
        color:$color;
        cursor: pointer;
        &:hover{
            border-bottom:1px solid $color;
        }
        }
    }
    & #menuHrefs a{
        text-decoration: none;
        padding:5px;
        margin-right:5px;
        &:hover{
            color: #8b9ff5;
            border-bottom: 2px solid $color;
            text-decoration: none;
          
        }
    }
   & .nav{
       position: absolute;
       background: #fff;
       left: 775px;
       width: 514px;
       border: 1px solid  lightgray;
    & ul{
        padding-top: 5px;
        list-style: none;
    & li{
       display: inline;
       padding-left: 8px;
    }
}
   }
 }



 .open{
    display: block;
  }
  
  .close{
    display: none;
  }




.banner{
    
    height: 100vh;
    background: url(../img/bg.jpg) no-repeat;
    background-size: cover;
}

a{
	color: $color;
	text-decoration:none;
	
    &:hover{
        color: #8b9ff5;
      
        text-decoration: none;
      
    }
}






.mar{
	font-size: 17px;
    background-color: #000;
    color: white;
    font-family: "Huntsman", sans-serif;
}








/*footer*/
.footer{
    display: flex;
    flex-wrap: wrap;
    & .columRight{
        width: 100%;
        color: white;
        background: #000;
        display: flex;
        gap: 20px;
        justify-content: center;
    }
}



// page history
@import "history.scss";

// page feedback
@import "feedback.scss"


