$mainColor: #18216D;
$fontFamily: "Inter", sans-serif, serif;

body{
    display: grid;
    grid-template-rows: auto 1fr min-content;
    min-height: 100vh;
}


.container{
    max-width: 1620px;
    padding: 0 10px;
    width: 100%;
    margin: 0 auto;
    // outline: 1px solid red;
}

    @media (max-width: 375px) {
        .container{
            max-width: 390px;
            padding: 0 10px;
            width: 100%;
            margin: 0 auto;
        }
    }


//HEADER STYLES
@import "styles/header.scss";
@import "styles/section.scss";
@import "styles/collab.scss";
@import "styles/feature.scss";
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
